{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Question</h1>

    {{ include('question/_form.html.twig') }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('question_index') }}">retour à la liste</a>
    </button>
{% endblock %}
