{% extends 'base.html.twig' %}

{% block title %}New TestTechnique{% endblock %}

{% block body %}
    <h1>Créer un nouveau Test Technique</h1>

    {{ include('test_technique/_form.html.twig') }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('test_technique_index') }}">retour à la liste</a>
    </button>
{% endblock %}
