{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>Modification d'une Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('session_index') }}">retour à la lists</a>
    </button>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
