<form method="post" action="{{ path('info_co_delete', {'id': info_co.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette réunion?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_co.id) }}">
    <button class="btn btn-danger float-right">Supprimer</button>
</form>
