{% extends 'base.html.twig' %}

{% block title %}Edit InfoCo{% endblock %}

{% block body %}
    <h1>Modification d'une Réunion d'Information</h1>

    {{ include('info_co/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('info_co_index') }}">retour à la liste</a>
    </button>

    {{ include('info_co/_delete_form.html.twig') }}
{% endblock %}
