{% extends 'base.html.twig' %}

{% block title %}New InfoCo{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Réunion d'Informations</h1>

    {{ include('info_co/_form.html.twig') }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('info_co_index') }}">retour à la liste</a>
    </button>
{% endblock %}
