{% extends 'base.html.twig' %}

{% block title %}Start Test Technique
{% endblock %}

{% block body %}
<br>
	<h1 style="text-align:center">Test Technique en cours ...</h1>
	<form method="post">
	{% for test_technique in tests_techniques %}
        {% if test_technique.estActif == true %}
            {% for question in test_technique.questions %}
	<br><strong>{{question.enonce}}</strong><br>
	{% for reponsePossible in question.reponsesPossibles %}
	<br>{{ reponsePossible.intitule }}<input type="checkbox" name="reponse"/><br>
	{% endfor %}
	{% endfor %}
	{% endif %}
	{% endfor %}
	</form>

	<br><br>

	<button type="button" class="btn btn-danger">
		<a href="{{ path('homepage') }}">Abandonner</a>
	</button>

{% endblock %}

