{% extends 'base.html.twig' %}

{% block title %}TestTechnique{% endblock %}

{% block body %}
    <br>
    <h1 style="text-align:center">Voici la liste des Tests Techniques disponibles</h1>
    <h3 style="text-align:center">Attendez les consignes du chef de projet</h3>
    <br>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Intitulé</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for test_technique in tests_techniques %}
            <tr>
                <td>{{ test_technique.id }}</td>
                <td>{{ test_technique.intitule }}</td>
                <td><button type="button" class="btn btn-outline-primary"><a href="{{ path('start_test') }}">Choisir</a></button></td>             
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <button type="button" class="btn btn-info">
    <a href="{{ path('start_test') }}">Page précédente</a>
    </button>

{% endblock %}
