{% extends 'base.html.twig' %}

{% block title %}New Niveau{% endblock %}

{% block body %}
    <h1>Créer un nouveau Niveau</h1>

    {{ include('niveau/_form.html.twig') }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('niveau_index') }}">retour à la liste</a>
    </button>
{% endblock %}
