{% extends 'base.html.twig' %}


{% block title %}cv{% endblock %}

{% block body %}
    <h1>Curriculum Vitae de {{ user.firstname }} {{ user.lastname }}</h1>
    <div>
    {{ user.cv }}
    </div>
    <div>
    <button type="button" class="btn btn-warning">
    <a class="nav-link" href="{{ path('user_show', {id: user.id}) }}">Retour au Profil</a>
    </button>
    </div>
{% endblock %}