{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modification d'un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('user_index') }}">retour à la liste</a>
    </button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
