{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modification de mes informations personnelles</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('user_profile_chefProjet') }}">retour à mon profil</a>
    </button>

{% endblock %}