{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un Candidat</h1>

    

    {{ include('user/_form.html.twig') }}

    

    <button type="button" class="btn btn-info">
    <a href="{{ path('user_index') }}">retour à la liste</a>
    </button>
{% endblock %}
