{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil de {{ app.user.firstname }}</h1>
    <div class="row">
            <div class="col-4 mb-1">
                <div class="card"><img src="https://www.itn-namur.be/images/t2.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.user.firstname }}  {{ app.user.lastname }}</h5>
                        <p class="card-text">{{ app.user.email }}</p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}