{% extends 'base.html.twig' %}

{% block title %}Edit Domaine{% endblock %}

{% block body %}
    <h1>Modifier Domaine</h1>

    {{ include('domaine/_form.html.twig', {'button_label': 'modifier'}) }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('domaine_index') }}">retour à la liste</a>
    </button>

    {{ include('domaine/_delete_form.html.twig') }}
{% endblock %}
