{% extends 'base.html.twig' %}

{% block title %}New Domaine{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Domaine</h1>

    {{ include('domaine/_form.html.twig') }}

    <button type="button" class="btn btn-info">
    <a href="{{ path('domaine_index') }}">retour à la liste</a>
    </button>
{% endblock %}
